<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/page}">
<head>
  
  <title th:text="#{app.page-title.add-patient}">AddPatientPageTitle</title>
</head>
<body>
  <section class="container" layout:fragment="page-content">
    <div class="row justify-content-center" th:object="${addPatientForm}">
      <div th:replace="layouts/form-alert :: form-alert"></div>
    </div>
  
    <br />
    
    <div class="row justify-content-center">
    
	    <div class="col-2 text-center">
	      <h5 class="lead">Add New Patient</h5>
	    </div>
	    
	    <div class="col-12"><hr><br /></div>
	    
	    <div class="col-8">
	       
	        <!-- enctype="multipart/form-data" -->
	       <form th:action="${ uri.get('newPatient') }" method="POST" th:object="${addPatientForm}" enctype="multipart/form-data" class="row justify-content-center">
					<div class="col-4">
					 <div class="form-group">
					    <img id="profileImage" alt="Profile Image" class="img-thumbnail" width="200" height="200"
					         th:src="${ uri.get('male-default-profile-image') }" >
					  </div>
					  
					  <div class="form-group">
					    <input type="file" class="form-control-file form-control-sm" th:field=*{profileImage}/>
					  </div>
					</div>
					<div class="col-4">
					    <div class="form-group">
					       <input class="form-control" th:errorclass="is-invalid" placeholder="Patient Id" th:field="*{patientId}"/>
					    </div>
					    
					    <div class="form-group">
					       <input class="form-control" th:errorclass="is-invalid" placeholder="Full Name" th:field="*{fullname}"/>
					    </div>
					    
					    <div class="form-group">
					       <input class="form-control" th:errorclass="is-invalid" placeholder="Phone Number" th:field="*{phone}"/>
					    </div>
					    
					    <div class="form-group">
					       <input class="form-control" th:errorclass="is-invalid" placeholder="Age" th:field="*{age}"/>
					    </div>
					    
					    <div class="form-group">
					       <select class="form-control" th:errorclass="is-invalid"  th:field="*{gender}">
					         <option value="" label="Select Gender" />
					         <option th:each="gender : ${genderList}"
					                 th:value="${gender}"
					                 th:text="${#strings.capitalize(gender)}"
					                  ></option>
					       </select>
					    </div>       
					</div>
					
					<div class="col-10"><hr></div>
					    
					<div class="col-4">
					  <button name="addPatient" class="btn btn-outline-primary btn-sm btn-block" >Add</button>
					</div>
					
					<div class="col-4">
					  <a th:href="${ uri.get('patients') }" class="btn btn-outline-danger btn-block btn-sm">Cancel</a>
					</div>
	       </form>
	    </div>
	  </div>
	  
  </section>
</body>
</html>