<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/page}">
<head>
  <title>Submit FMT Details</title>
</head>

<body>
  <section id="fmtDetailsStep" layout:fragment="page-content">
    <div class="row justify-content-center" th:object="${requestFMT}">
      <div th:replace="layouts/form-alert :: form-alert"></div>
    </div>
    
    <div class="row no-gutters justify-content-start">
      <div class="col-md-3 text-center align-self-center">
        <div class="row justify-content-end">
          <div class="col-md-10">
            <div class="card text-right border-bottom-0 border-right-0 rounded-0 rounded-left">
              <h6 class="card-header pt-2 pb-2">Patient</h6>
              <div class="card-body pt-2 pb-3 pl-0">
                <!-- <h5 class="card-title"></h5> -->
                <ul class="card-text list-unstyled">
                  <li th:text="${requestPatient.fullname}">Patient Fullname</li>
                  <li th:text="${requestPatient.patientId}">Patient Id</li>
                  <li th:text="${requestPatient.phone}">Patient Phone</li>
                  <li th:text="${requestPatient.age} + ' Years Old'">Patient Age</li>
                  <li th:text="${requestPatient.gender}">Male</li>
                </ul>
              </div>
            </div>
            
            <div class="card text-right border-bottom-0 border-right-0 rounded-0 rounded-left">
              <h6 class="card-header pt-2 pb-2">Doctor</h6>
              <div class="card-body pt-2 pb-3 pl-0">
                <ul class="card-text list-unstyled">
                  <li th:text="${ requestDoctor.fullname }">Doctor Fullname</li>
                </ul>
              </div>
            </div>
            
            <div class="card text-right border-right-0 rounded-0 rounded-left">
              <h6 class="card-header pt-2 pb-2">Test Type</h6>
              <div class="card-body pt-2 pb-3 pl-0">
                <ul class="card-text list-unstyled">
                  <li th:text="${ requestTestType.selectedTestType }"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="row no-gutters justify-content-center">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <span class="nav-link disabled">Patient</span>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Doctor</a>
              </li>
              <li class="nav-item">
                <span class="nav-link disabled">Test Type</span>
              </li>
              <li class="nav-item">
                <span class="nav-link text-primary active">FMT Details</span>
              </li>
              <li class="nav-item">
                <span class="nav-link disabled">Confirm</span>
              </li>
            </ul>
        </div>
        
        <div id="dialog" class="row no-gutters justify-content-center border rounded">
          <div class="col-md-12">
            <br />
            <div class="row no-gutters justify-content-center">
              <div class="col-8 text-nowrap text-center">
                <h5><span class="lead align-middle text-muted">Provide <strong>FMT</strong> Details <strong></strong></span> </h5>
              </div>
            </div>
            
            <div class="row no-gutters justify-content-center">
              <div class="col-md-3">
                <hr class="mt-0">
              </div>
            </div>
            
            <form class="form" method="post" th:action="${flowExecutionUrl}" th:object="${requestFMT}">
              <div class="row justify-content-center mt-4">
                <div class="col-md-8">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th></th>
                        <th class="text-center">Value</th>
                        <th class="text-center">Normal</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr>
                        <th class="text-center align-middle" scope="row">MNO</th>
                        <td class="row no-gutters justify-content-center">
                          <input type="text" class="form-control text-center w-50 p-1" maxlength="5" th:errorclass="is-invalid" th:field="*{mno}" placeholder="MNO" autofocus/>
                        </td>
                        <td class="text-center align-middle">2.0 - 7.0</td>
                      </tr>
                      <tr>
                        <th class="text-center align-middle" scope="row">PQR</th>
                        <td class="row no-gutters justify-content-center">
                          <input type="text" class="form-control text-center w-50 p-1" maxlength="5" th:errorclass="is-invalid" th:field="*{pqr}" placeholder="PQR"/>
                        </td>
                        <td class="text-center align-middle">6.2 - 7.0</td>
                      </tr>
                      <tr>
                        <th class="text-center align-middle" scope="row">STU</th>
                        <td class="row no-gutters justify-content-center">
                          <input type="text" class="form-control text-center w-50 p-1" maxlength="5" th:errorclass="is-invalid" th:field="*{stu}" placeholder="STU"/>
                        </td>
                        <td class="text-center align-middle">2.0 - 3.75</td>
                      </tr>
                      <tr>
                        <th class="text-center align-middle" scope="row">VWX</th>
                        <td class="row no-gutters justify-content-center">
                          <input type="text" class="form-control text-center w-50 p-1" maxlength="5" th:errorclass="is-invalid" th:field="*{vwx}" placeholder="VWX"/>
                        </td>
                        <td class="text-center align-middle">12.4 - 25.10</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <br /><br />
              
              <div class="row d-flex flex-nowrap m-3">
                <div class="col-md-4 order-3">
                  <button type="submit" class="btn btn-outline-primary btn-sm btn-block" name="_eventId_submit">Submit</button>
                </div>
                
                <div class="col-md-4 order-2">
                  <button type="button" class="btn btn-outline-danger btn-sm btn-block" data-toggle="modal" data-target="#confirmCancelRequestFlowModal">Cancel</button>
                </div>
                
                <div class="col-md-4 order-1">
                  <button class="btn btn-outline-info btn-sm btn-block" name="_eventId_back">Back</button>
                </div>
              </div>
            </form>
            
            <div th:replace="flows/requests/layouts/cancel-request :: cancel-request"></div>
            
          </div>
        </div>
      
    </div>
    
    </div>
  </section>
</body>
</html>